
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link  rel="stylesheet" type="text/css" href="/style.css"> 
    <title>The Va School</title>
</head>
<body class="container mt-3"></body>
<header class="jumbotron-fluid">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col">
            <h1 class="display-2 mx-auto">The V.A. <img src="/VaLogo.png" alt="logo"> School</h1>
      </div>
    </div>
  </div>  
</header>
      <nav class="navbar navbar-light p-0 mainNav">
              <a class="navbar-brand text-white pl-3" href="#"></a>
              <div class="nav-item">
                <ul class="navbar-nav mx-auto flex-row ">
                        <li class="nav-item">
                                <a class=" nav-link text-white px-3" id="kGoing" href="/">Home</a>
                        </li>
    
                        <li class="nav-item">
                            <a class=" nav-link text-white px-3" id="kGoing" href="/register">Register</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class=" nav-link text-white px-3"  href="/allstudents">Enrolled</a>
                        </li>
                </ul>
              </div>
      </nav>



